@import "compass/reset";
@import "compass/css3";


/* Eine von zwei Möglichkeiten ist es in der Config.rb Datei den Output style zu ändern bsp.: :compressed und die Änderung mit Compass watch im Terminal anzuzeigen
oder die zweite Möglichkeit ist es über das Terminal direkt eine Änderung vorzunehmen mit dem Befehl compass compile --output-style (..styleart, expanded, nested oder
compressed) --force*/

/*Ich finde hier nicht wirklich etwas was Sinn machen würde zu vererben. Könnten wir dies noch einmal in der Vorlesung besprechen da ich es versucht hätte aber sich
nichts getan hat*/

/* Line 9, Colors Variablen ../sass/main.scss*/
$schwarz:#000;
$Weiß:#fafafa;
$Rot:#d9534f;
$Orange:#f0ad4e;
$Grün:#5cb85c;
$Grau:#d3d3d3;

/*Line 20 Mixins, Transition-properties ../sass/main.scss mit @include transition verwende ich diese dann*/
@mixin transition
{
    transition-property: width;
    transition-delay: 0ms;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif;
}

/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}


input[type="text"],input[type="password"] {
    border:1px solid $schwarz;
    padding:5px;
    margin:10px 5px 10px 5px;

    width: 180px;
}

input[type="submit"] {
    border:1px solid $schwarz;
    border-radius:0;
    background-color:$Weiß;
    margin:10px 5px 10px 5px;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;

        .feedback {
        margin:10px 5px 10px 5px;
        font-size:11px;
        font-weight:600;

    }
            .feedback.error {
            color: $Rot;
             }

            .feedback.warning {
                color:$Orange;
                }

            .feedback.success {
                color:$Grün;
            }

                .strengthIndicator {
                    margin:10px 5px 10px 5px;
                    width: 200px;
                    padding:5px;
                    height: 13px;
                    border:1px solid $Grau;
                }

                    .strengthIndicator::before {
                        content: "";
                        display: block;
                        height: 100%;

                       @include transition;
                    }
}





.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error .strengthIndicator::before {
    width: 10%;
    background-color: $Rot;
}

.warning .strengthIndicator::before {
    width: 60%;
    background-color: $Orange;
}

.success .strengthIndicator::before {
    width: 100%;
    background-color: $Grün;
}

.feedback.error, .feedback.warning, .feedback.success {
    display: none;
}

.error .feedback.error {
    display: block;
}

.warning .feedback.warning {
    display: block;
}

.success .feedback.success {
    display: block;
}

